@import '@fontsource/jetbrains-mono';

* {
	margin: 0;
	padding: 0;
	font-family: Crimson, Georgia, serif;
}

html {
	--white-1: #bbbbbb;
	--white-2: #d7d7d7;
	--white-3: #ffffff;
	--black-1: #444444;
	--black-2: #272727;
	--black-3: #000000;

	/* monochromatic colors obtained using base in adobe color*/
	--blue-1: #d6e7ff;		/* lightest */
	--blue-2: #adcfff;
	--blue-3: #3e5c87;      /* base */
	--blue-4: #1b365c;
	--blue-5: #0a1524;      /* darkest */

	--orange-tint: #968232;
	--orange-tone: #796928;
	--orange-shade: #594f1e;

	--border-light: #ced4da;
	--border-dark: #343a40;

	--background-light: #fffff8;
	--background-dark: #121212;

	--font-size-1: 1em; 	/* foot notes */
	--font-size-2: 2em;     /* content */
	--font-size-3: 3em;		/* headings */
	--font-size-4: 4em; 	/* title */

	--content-size: 90ch;
}

:root {
	color-scheme: dark;
	
	--text-1: var(--white-1);
	--text-2: var(--white-2);
	--background: var(--background-dark);
	--border: var(--border-dark);
}

@media (prefers-color-scheme: light) {
	:root {
		color-scheme: light;

		--text-1: var(--black-1);
		--text-2: var(--black-2);
		--background: var(--background-light);
		--border: var(--border-light);
	}
}

[color-scheme="dark"] {
	color-scheme: dark;

	--text-1: var(--white-1);
	--text-2: var(--white-2);
	--background: var(--background-dark);
	--border: var(--border-dark);

	--theme-color-base: var(--blue-2);
	--theme-color-shade: var(--blue-4);
	--theme-block-quote: var(--blue-5);
	--tag-color: var(--blue-5);
	--track-color: var(--blue-5);
	--thumb-color: var(--blue-3);

	--border: var(--theme-color-shade);
}

[color-scheme="light"] {
	color-scheme: light;

	--text-1: var(--black-1);
	--text-2: var(--black-2);
	--background: var(--background-light);
	--border: var(--border-light);

	--theme-color-base: var(--blue-4);
	--theme-color-shade: var(--blue-2);
	--theme-block-quote: var(--blue-1);
	--tag-color: var(--blue-2);
	--track-color: var(--blue-1);
	--thumb-color: var(--blue-3);

	--border: var(--theme-color-shade);
}

html, body {
	height: 100vh;
	max-width: 100%;
	background: var(--background);
	font-family: Crimson, Georgia, Serif;
	font-size: calc(15px + 0.390625vw);
}

body {
}

img {
	border-radius: var(--radius-3);
}

h1 {
	color: var(--text-2);
	font-size: 3.5rem;
}

mjx-container[jax=SVG] a g {
    fill: var(--text-2);
    stroke: var(--text-1);
}

mjx-container[jax="SVG"][display="true"] {
	/* width: 10px; */
	margin-block: 1rem;
	width: 0px;
	overflow-x: auto;
	min-width: 100% !important;
	max-width: 100%;
}

.prose :is(pre)::-webkit-scrollbar,
mjx-container::-webkit-scrollbar {
	height: 0.2rem;
}

.prose :is(pre)::-webkit-scrollbar-track,
mjx-container::-webkit-scrollbar-track {
	background: var(--track-color);
}

.prose :is(pre)::-webkit-scrollbar-thumb,
mjx-container::-webkit-scrollbar-thumb {
	background: var(--thumb-color);
	border-radius: 1rem;
}

.prose blockquote {
	border-left: 0.2rem solid var(--border);
	box-sizing: border-box;
	margin-inline: 0;
	padding: 1rem 1rem 1rem 2rem;
	background-color: var(--theme-block-quote);
	width: 100%;
	overflow-wrap: break-word;
}

.prose :is(h2, h3) {
	color: var(--theme-color-base);
	line-height: 1.5;
}

.prose :is(h2) {
	margin-block: 1.5rem 1rem;
	border-bottom: 0.1rem solid var(--border);
}

.prose :is(h3) {
	margin-block: 1.5rem 0.5rem;
	font-style: italic;
}

.prose {
	counter-reset: heading;
	color: var(--text-2);
}

h2:after {
	content: counter(heading)" ";
	counter-increment: heading;
}

h2 {
	counter-reset: subheading;
	display: flex;
	justify-content: space-between;
	gap: 1rem;
}

h3:after {
	content: counter(heading)"." counter(subheading)" ";
	counter-increment: subheading;
}	

h3 {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
}

.prose :is(p) {
	line-height: 1.65;
	text-align: justify;
	margin-block: 1rem;
}

.prose :is(ul, ol) {
	padding-inline-start: 2.5rem;
}

.prose li {
	padding-block: 0.25rem;
	line-height: 1.65;
}

.prose a {
	color: var(--theme-color-base);
	font-style: italic;
	/* text-decoration-style: dotted; */
	min-width: 80%;
	max-width: 100%;
}

.prose a:hover {
	text-decoration-style: solid;
}

.prose li > a {
	box-sizing: border-box;
	display: block;
	width: 0px;
	min-width: 100%;
	/* max-width: 100%; */
	overflow-wrap: break-word;
}

.prose :is(pre) {
	margin-inline: auto;
	margin-block: 1rem;
	border-radius: 0.5rem;
	padding: 1rem;
	tab-size: 4;
	width: 0px;
	min-width: 90%;
	max-width: 100%;
	overflow-x: auto;
}

.prose :is(img) {
	max-width: 100%;
	display: block;
	margin-block: 1rem;
	margin-inline: auto;
}

#toc p {
	padding-block: 1rem 0.5rem;
	line-height: 1.4;
	color: var(--theme-color-base);
	font-weight: bold;
}

#toc div {
	color: var(--theme-color-base);
	text-decoration: underline;
	text-decoration-style: solid;
	padding-inline-start: 1rem;
	padding-block: 0.1em;
	border-left: 0.1em solid var(--border);
}

#toc div:hover {
	cursor: pointer;
	text-decoration-thickness: 0.1rem;
	border-left: 0.2em solid var(--border);
}
